@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  /* 색상 값 변수 지정 */
  --dark-color: #483434;
  --normal-color: #6b4f4f;
  --regular-color: #eed6c4;
  --light-color: #fff3e4;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

address,
em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

p {
  line-height: 1.5;
}
